/* CSS Initial Set-up */
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
footer {
  margin: 0;
}
/* CSS Initial Set-up ends here  */

/* Header CSS Starts here  */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  width: 100%;
  height: 113px;
  margin-bottom: -81px;
}

.marquee {
  height: 35px;
  width: 100%;
  background-color: #eab830;
  color: black;
  padding: 8px 0;
}

.logo-container {
  height: 7.8rem;
  width: 100%;
  background-color: #ffffff91;
  display: flex;
  justify-content: space-between;
  padding: 0 23px;
}

.logo img {
  height: 68.69px;
  width: 10.5rem;
}

.logos {
  display: flex;
  align-items: center;
}

.logos > div {
  margin: 0 30px;
}
/* Header Ends Here */

/* Carousel Starts Here  */

.carousel-control {
  opacity: 0;
}

/* Carousel Ends Here */

/* Menu Bar Starts Here  */

.nav-container {
  height: 126px;
  width: 100%;
  position: sticky;
  top: 113px;
}

.menu-bar {
  height: 46px;
  width: 100%;
  background-color: #002147;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.menu-bar ul li a {
  color: white;
}

.menu-bar1 {
  height: 80px;
  width: 100%;
  background-color: #eab830;
  display: flex;
}

.menu-bar-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu-bar-box p {
  padding-top: 12px;
  font-weight: bold;
  color: black;
}

.menu-bar-box button {
  height: 33px;
  width: 118.48px;
  border: 0;
  border-radius: 25px;
  background-color: black;
  color: white;
}

/* Menu Bar Ends Here  */

/* Video Container Starts Here  */

.video-container {
  height: 749.78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.intro-video {
  height: 497.78px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.intro {
  height: 497.78px;
  width: 902.5px;
}

.intro p {
  color: black;
  margin-top: 10px;
}

.intro1 P {
  color: black;
}

.intro h2 {
  color: #273044;
  border-bottom: 1px solid #0000003b;
  font-weight: bold;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-size: 30px;
}

.founder-intro p {
  font: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin: 15px 0;
}

.founder-intro h2 {
  margin-bottom: 10px;
}

.video-box {
  height: 490.78px;
  width: 872.5px;
}

.video-box video {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.para {
  height: 252px;
  width: 100%;
}

.intro1 {
  width: 100%;
}

/* Video Container Ends Here  */

/* Founder Section Starts Here  */

.founder {
  height: 358.19px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  gap: 100px;
  background-image: url(https://www.tsms.org.in/faridabad/wp-content/themes/tsms/img/chairmain.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.founder-intro {
  height: 250.19px;
  width: 730px;
}

.founder-intro h2,
.founder-intro h3,
.founder-intro p {
  color: white;
}

.founder-intro p {
  font-size: 15px;
  line-height: 1.5;
}

.founder-intro button {
  background-color: transparent;
  padding: 5px 11px;
  border: 1px solid #ddd;
  margin-right: 15px;
  color: #fff;
}

.founder-intro h5 {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 8px;
  color: #fff;
  text-align: right;
}

.founder-image img {
  width: 277px;
  height: 258px;
  border-radius: 140px;
  border: 1px solid #9999998f;
}

/* Founder  */

.founder-container {
  height: 536px;
  padding: 50px;
}

.founder-box {
  height: 436px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-founder {
  height: 166px;
  width: 1110px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.our-founder h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.founder-photos {
  height: 370px;
  width: 1140px;
  display: flex;
}

.photos {
  width: 285px;
  height: 370px;
  padding: 0 15px;
}

.photos h3 {
  height: 40.39px;
  width: 255px;
  padding: 10px;
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 17px;
  color: #1f66d2;
}

.photos p {
  height: 67.5px;
  font-size: 15px;
  width: 255px;
  color: black;
  text-align: center;
}

.photos button {
  height: 34.5px;
  width: 255px;
  background-color: #2c75e4;
  padding: 6px 7px;
  color: white;
  border: 0;
  margin-top: 20px;
}

/* Founder Section Ends Here */

/* Director-Principal Section  */
.director-principal-container {
  height: 676.66px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.director-principal {
  height: 576.66px;
  width: 445px;
  /* border: 1px solid black; */
}

.director-principal img {
  height: 276.66px;
  width: 100%;
}

.director-principal > div {
  padding: 10px 15px;
  border: 1px solid black;
  border-top: 0;
}
.director-principal h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.director-principal h4 {
  margin: 8px o;
  font-size: 14px;
}

.director-principal h5 {
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.director-principal > div button {
  margin-top: 60px;
  height: 36px;
  width: 93.36px;
  background-color: #2c75e4;
  color: #fff;
  padding: 6px 7px;
}

/* Director-Principal Section Ends Here  */

/* Admission at TSMS Section Form */
.admission-form-container {
  padding: 50px 0;
  background-image: url(http://quanticalabs.com/wp_themes3/fable/wp-content/uploads/sites/8/2014/10/parallax_06.jpg);
  background-size: 100% 100%;
  height: 588.33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admission-form {
  width: 570px;
  height: 488.33px;
  background-color: #fff;
  padding: 25px 10px;
  background-color: #f3f8fc;
}

.admission-form h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}

.name-details input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 38px;
  width: 255px;
  padding: 6px 12px;
  margin: 10px 0;
}

.name-details input:nth-of-type(2n) {
  margin-left: 31px;
}

.name-details textarea {
  border: 1px solid grey;
  border-radius: 5px;
  height: 62px;
  width: 545px;
  padding: 6px 12px;
  margin: 10px 0;
}

.name-details button {
  height: 38px;
  width: 102px;
  text-align: center;
  background-color: #efefef;
  padding: 6px 7px;
  margin-top: 10px;
}

.admission-image {
  width: 570px;
  height: 488.33px;
  background-color: #f3f8fc;
}

/* Admission at TSMS Section Form Ends  */

/* Gallery Section Starts Here  */
.gallery-container {
  height: 572px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.gallery-images {
  height: 472px;
  width: 1140px;
}

.gallery-heading h2 {
  height: 36px;
  width: 1110px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.gallery-photos {
  height: 406px;
  width: 1140px;
  padding: 0 15px;
  margin-top: 30px;
}

.g-photo-box1 {
  width: 1110px;
  height: 203px;
  display: flex;
}

.g-photo-box2 {
  width: 1110px;
  height: 203px;
  display: flex;
}

.g-photo-square img {
  height: 193px;
  width: 259.8px;
  margin: 0 10px 10px 0;
}

/* Gallery Section Ends Here  */

/* Campus and Others Section Starts Here  */

.Campus-container {
  height: 319.39px;
  padding: 80px 0;
  background-image: url(https://www.tsms.org.in/faridabad/wp-content/themes/tsms/img/cmps-bg9.jpg);
  background-position: top center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

.campus-box {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.c-box1,
.c-box2,
.c-box3,
.c-box4,
.c-box5,
.c-box6 {
  height: 160px;
  width: 160px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-box1,
.c-box5 {
  background-color: #307ad5;
}

.c-box2 {
  background-color: #d94da6;
}

.c-box3 {
  background-color: #eab830;
}

.c-box4 {
  background-color: #48a7d4;
}

.c-box6 {
  background-color: #1ec1d9;
}

.u-icon {
  height: 36px;
  width: 36px;
  background-color: #fff;
  color: #307ad5;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.c-box1 a,
.c-box2 a,
.c-box3 a,
.c-box4 a,
.c-box5 a,
.c-box6 a {
  color: white;
  margin-top: 20px;
}

/* Campus and Others Section Ends Here  */

/* Footer Starts Here  */

footer {
  color: white;
}

.footer-container {
  height: 620.39px;
  background-color: #002147;
  padding: 25px 75px;
}

.footer-box {
  padding: 0 15px;
}

.f-box1 {
  height: 465.39px;
  display: flex;
  justify-content: space-between;
}

.footer-b1,
.footer-b2,
.footer-b3,
.footer-b4 {
  height: 100%;
  width: 22%;
  padding: 15px;
}

.footer-b1 p {
  text-align: justify;
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.5;
}

.footer-b2 ul {
  list-style: none;
  margin-top: 30px;
}

.footer-b2 li:not(:last-child) {
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #777171;
}

.footer-b2 ul li a {
  color: white;
}

.footer-b3 h4 {
  margin-top: 30px;
  font-size: 17px;
  font-weight: bold;
}

.footer-b3 p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.footer-b3 ul {
  list-style-type: none;
}

.footer-b3 ul li:not(:last-child) {
  font-size: 15px;
  border-bottom: 1px solid #777171;
  margin-bottom: 10px;
}

.footer-b4 form {
  margin-top: 30px;
}

.send-query input {
  width: 100%;
  padding: 3.75px 7.5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.send-query textarea {
  width: 100%;
  padding: 3.75px 7.5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.send-query button {
  background-color: #477fb1;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  margin-top: 90px;
}

.f-box2 {
  height: 85.61px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #b1aaaa;
  padding-top: 40px;
}

/* Footer Ends Here  */
